<div class="page-sidebar nav-collapse collapse">

	<!-- BEGIN SIDEBAR MENU -->        

	<ul class="page-sidebar-menu">

		<li>

			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

			<div class="sidebar-toggler hidden-phone"></div>

			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

		</li>

		<li>

			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

			<form class="sidebar-search">

				<div class="input-box">

					<a href="javascript:;" class="remove"></a>

					<input type="text" placeholder="Search..." />

					<input type="button" class="submit" value=" " />

				</div>

			</form>

			<!-- END RESPONSIVE QUICK SEARCH FORM -->

		</li>

		<li class="last  ">

			<a href="/daily">

				<i class="icon-bar-chart"></i> 

				<span class="title">写日报</span>

				<span class="selected"></span>

			</a>

		</li>

		<li class="last  ">

			<a href="/dailylist">

				<i class="icon-bar-chart"></i> 

				<span class="title">我的日报</span>

				<span class="selected"></span>

			</a>

		</li>



	</ul>

	<!-- END SIDEBAR MENU -->

</div>